*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #112133;
  perspective: 1000px;
}
.content{
  position: relative;
  width: 300px;
  height: 300px;
  transform-style: preserve-3d;
  transform: rotateX(-30deg) rotateY(-50deg) rotateZ(359deg);
}
.box{
  width: 300px;
  height: 300px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #2331428a ;
  border: 1px solid  #0f151d;;
}
.front {
  transform: translate3d(0, 0, 150px);
  animation: cube 2s infinite ease;
}
.back {
  transform: translate3d(0, 0, -150px) rotateY(180deg);
  animation: cube 2s infinite ease;
}

.left {
  transform: translate3d(-150px, 0, 0px) rotateY(-90deg);
  animation: cube 2s infinite ease;
}

.right {
  transform: translate3d(150px, 0, 0px) rotateY(90deg);
  animation: cube 2s infinite ease;
}

.top {
  transform: translate3d(0px, -150px, 0px) rotateX(-90deg);
 
}

.bottom {
  transform: translate3d(0px, 150px, 0px) rotateX(-90deg);
  animation: cube 2s infinite ease;
  background-color: #00ffbe;
  animation: cubeBottom 2s infinite ease;
}
@keyframes cube{
  0% {
    background-color: #233142;
}
5%{
  background: linear-gradient(180deg,#2331428a 95%, #00ffbe 95%);
}
10%{
  background: linear-gradient(180deg,#2331428a 90%, #00ffbe 90%);
}
15%{
  background: linear-gradient(180deg,#2331428a 85%, #00ffbe 85%);
}
20% {
  background: linear-gradient(180deg,#233142a8 80%, #00ffbe 80%);
}
25%{
  background: linear-gradient(180deg,#2331428a 75%, #00ffbe 75%);
}
30%{
  background: linear-gradient(180deg,#2331428a 70%, #00ffbe 70%);
}
35%{
  background: linear-gradient(180deg,#2331428a 65%, #00ffbe 65%);
}
40%{
  background: linear-gradient(180deg,#2331428a 60%, #00ffbe 60%);
}
45%{
  background: linear-gradient(180deg,#2331428a 55%, #00ffbe 55%);
}
50% {
  background: linear-gradient(180deg,#2331428a 50%, #00ffbe 50%);
}
55%{
  background: linear-gradient(180deg,#2331428a 45%, #00ffbe 45%);
}
60%{
  background: linear-gradient(180deg,#2331428a 40%, #00ffbe 40%);
}
65%{
  background: linear-gradient(180deg,#2331428a 35%, #00ffbe 35%);
}
70% {
  background: linear-gradient(180deg,#2331428a 30%, #00ffbe 30%);
}
85%{
  background: linear-gradient(180deg,#2331428a 25%, #00ffbe 25%);
}
80%{
  background: linear-gradient(180deg,#2331428a 20%, #00ffbe 20%);
}
85%{
  background: linear-gradient(180deg, #2331428a  15%, #00ffbe 15%);
}
90%{
  background: linear-gradient(180deg, #2331428a 10%, #00ffbe 10%);
}
95%{
  background: linear-gradient(180deg, #2331428a 5%, #00ffbe 5%);
}
100% {
  background-color:  #00ffbe;
}
}
@keyframes cubeBottom {
  0% {
    transform: translate3d(0px, 150px, 0px) rotateX(-90deg);
  }
5%{
  transform: translate3d(0px, 145px, 0px) rotateX(-90deg);
}
10%{
  transform: translate3d(0px, 135px, 0px) rotateX(-90deg);
}
15%{
  transform: translate3d(0px, 115px, 0px) rotateX(-90deg);
}
20%{
  transform: translate3d(0px, 100px, 0px) rotateX(-90deg);
}
  25% {
    transform: translate3d(0px, 90px, 0px)rotateX(-90deg);
  }
  30%{
    transform: translate3d(0px, 75px, 0px) rotateX(-90deg);
  }
  35%{
    transform: translate3d(0px, 55px, 0px) rotateX(-90deg);
  }
  40%{
    transform: translate3d(0px, 35px, 0px) rotateX(-90deg);
  }
  45%{
    transform: translate3d(0px, 15px, 0px) rotateX(-90deg);
  }
  50% {
    transform: translate3d(0px, 0px, 0px) rotateX(-90deg);
  }
  55%{
    transform: translate3d(0px, -5px, 0px) rotateX(-90deg);
  }
  60%{
    transform: translate3d(0px, -15px, 0px) rotateX(-90deg);
  }
  65%{
    transform: translate3d(0px, -30px, 0px) rotateX(-90deg);
  }
  70%{
    transform: translate3d(0px, -50px, 0px) rotateX(-90deg);
  }
  75%{
    transform: translate3d(0px, -70px, 0px) rotateX(-90deg);
  }
  80%{
    transform: translate3d(0px, -100px, 0px) rotateX(-90deg);
  }
  85%{
    transform: translate3d(0px, -120px, 0px) rotateX(-90deg);
  }
  90% {
    transform: translate3d(0px, -130px, 0px) rotateX(-90deg);
  }
  95%{
    transform: translate3d(0px, -140px, 0px) rotateX(-90deg);
  }
  100% {
    transform: translate3d(0px, -150px, 0px) rotateX(-90deg);
  }
}